@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,400&family=Russo+One&display=swap');


*{
font-family: 'Poppins';
padding: 0;
margin: 0;
box-sizing: border-box;

}
.group{
  border: 10px solid red;
  position: relative;
  background: radial-gradient(circle at 50% 50%, rgb(51,10,10), rgb(5,5,21));
  display: flex;
  flex-direction: column;

}
.bg{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.18;
  
}
aside{
  background-image: radial-gradient(rgba(0, 0, 0, 0.774) 40% , black ),url('https://images.unsplash.com/41/5k0CgVoIS2SUJGNZKYos__DSC2198.jpg?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8M3w0MXx8ZW58MHx8fHx8&auto=format&fit=crop&w=400&q=60');
  background-size: cover;
}
aside h1{
 font-size: 36px;
 color: white;
 padding-top: 30px;
 text-align: center; 
}
.cards{
display: flex;
flex-wrap: wrap;
gap: 20px;
align-items: center;
justify-content: center;
border: 5px solid green;
padding: 50px 0;
}

.cards .card{
  border:5px solid #fd003b;
  color: white;
  width: 45%;
  padding: 15px;
  border: 0.2px solid rgba(79, 76, 76, 0.5);
  border-radius: 10px;
}
.cards .card:hover{
  border:0.2px solid rgba (207, 188, 188, 0.5) ;
  background: radial-gradient(rgba(13, 12, 15, 0.9), black);

}
.card .card-title{
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 20px;
}
.card .card-title img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.card p{
  font-weight: 200;
  margin-bottom: 20px;
}
.card button{
  padding: 7px 15px;
  font-size: 20px;
  color: white;
  background: transparent;
  border: 4px solid #500523;
  border-radius: 20px;

}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #39053163;
    padding: 20px 50px;
    z-index: 5;
}
 header .logo a{
text-decoration: none;
color: white;
font-weight: 600;
font-size: 25px;

 }
 header .logo a b{ 
    color: #fd003b;
    
 }
 header .logo i{ 
    color:white;
    font-size: 25px;
    
 }
 header .menu{
    display: flex;
    align-items: center;
 }
 .menu .menu-content a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    
 }
 .menu .menu-content a::after{
   content: '';
   width: 0%;
   height: 2px;
   background-color: white;
   color: white;
   text-decoration: none;
   font-size: 15px;
   display: block;
   
}
.menu .menu-content a:hover::after{
   width: 100%;
   transition: .1s;
   
}

 .menu .menu-content{
   list-style: none;
   display: inline-block;
   position: relative;
   display: flex;
   flex-direction: row;
   gap: 20px;
 }
 .menu i{
     display: none;
 }
 .menu .menu-content a:hover{
   color:#fd003b;
 }
 .menu .menu-content a:hover::after{
   width: 100%;
   transition: .8s;
 }


 @media screen and (min-width:768px) and (max-width:1023px) {
  header{
  }
  header .menu{
   position: relative;
  }
  header .menu:hover .menu-content{
   background-color: #ccc;
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 25px;
   right: 0;
   padding: 10px;
   border-radius: 22px;
  }
  .menu-content a{
   color: black !important;
  }
  .menu-content a:hover{
   color: #fd003b !important;
  }
  header .menu i{
   display: flex;
   font-size: 25px;
   color: white;
  } 
  header .menu .menu-content {
   display: none;
  }
 }
 nav{
   
   height: 500px;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 5;

 }
 nav .left{
   
   width: 700px;
   color: white;
   flex-direction: column;
   align-items: start;
   justify-content: center;
   gap: 10px;
   padding: 0 50px;
   color: white;
 }
 .animation{
  color: #c0d666;
  font-weight: 600;
  font-size: 34px;
  animation: anim1 4s ease-in-out 1s 1000;
 }
 @keyframes anim1{
  0%{
    transform: translateX(0%);
  }
  50%{
    transform: translateX(25%);
      }
  100%{
    transform: translateX(0%);
  }
 }
 nav.left h1{
  font-family: 'Russo One', sans-serif;
  font-size: 46px;
 }
 nav .left button{
  padding: 7px;
  color: white;
  background-color: transparent;
  font-size: 20px;
  border: 2px solid #ccc;

 }
 nav .left button:hover{
  border-radius: 10px;
  border: 2px solid rgb(94, 17, 94);
  transition: ease 0.2s;
 }

 .advert {
   border: 10px solid purple;
   background-color: #39053163;
   height: 80px;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 5;
 }
 
 .icons{
   display: flex;
   justify-content: center;
   justify-content: space-between;
   width: 100%;
   animation: reklam 3s ease-in 1000;
 }
  
    @keyframes reklam{
      0%{
        transform: translateX(10px);
        
      }
      50%{
        transform: translateX(-10px);
        
      }
      100%{
        transform: translateX(10px);
        
      }
    }



 .advert img{
   border: red;
   cursor: pointer;
   width: 40px;
 }
 @media screen and (max-width:767px) {
   header{
   }
   header .menu{
    position: relative;
   }
   header .menu:hover .menu-content{
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    right: 0;
    padding: 10px;
    border-radius: 22px;
   }
   .menu-content a{
    color: black !important;
   }
   .menu-content a:hover{
    color: #fd003b !important;
   }
   header .menu i{
    display: flex;
    font-size: 25px;
    color: white;
   } 
   header .menu .menu-content {
    display: none;
   }
  }